<section class="col-md-8 col-md-offset-2">
  <!-- angular 2 form event -->
  <form (ngSumbit) = "onSumbit(f.value)" #f="ngForm">
    <div class="form-group">
      <label for="content">Content</label>
      <!-- template driven approach -->
      <input ngControl="content" type="text" class="form-control" id="content" #input>
      <!-- <button type="submit" class="btn btn-primary" (click)="onCreate(input.value)">Send Message</button> -->
      <button type="submit" class="btn btn-primary">Send Message</button>
    </div>
  </form>
</section>
