<div class="row">
  <section class="col-xs-8 col-xs-offset-2">
    <article class="panel panel-default">
      <div class="panel-body">
        <!-- databinding from app.components.ts -->
        {{ message.content }}
      </div>
      <footer class="panel footer">
        <div class="author">
          {{ message.author }}
          <div class="config">
            <a href="#">Edit</a>
            <a href="#">Delete</a>
          </div>
        </div>
      </footer>
    </article>
  </section>
</div>
