<div class="row">
  <section class="col-xs-8 col-xs-offset-2">
    <!-- ngStyle example of attributes directives -->
    <!-- *ngIf conditional statement -->
    <article class="panel panel-default" [ngStyle]="{'background-color': color}" (mouseenter)= "color = 'red'" (mouseleave) ="color = 'white'" *ngIf="show">
      <!-- remove from DOM if show = false -->
      <div class="panel-body">
        <!-- databinding from app.components.ts -->
        {{ message.content }}
      </div>
      <footer class="panel footer">
        <div class="author">
          {{ message.author }}
          <div class="config">
            <!-- click event binding -->
            <a href="#" (click)="onClick()">Edit</a>
            <a href="#">Delete</a>
          </div>
        </div>
      </footer>
    </article>
  </section>
</div>
